@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    width: 100%;
    height: 224px;
    padding: 24px;
    border-radius: 16px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
    @include m.d-flex(start, center, nowrap, column, 0, 16px);

    &__icon {
        width: 24px;
        height: 24px;
        fill: v.$color_black;
    }

    &__title {
        @include m.font(20px, 500, v.$color_black);
    }

    &__desc {
        text-align: center;
        @include m.font(16px, 400, v.$color_black);
    }

    &:hover {
        cursor: pointer;
        background-color: color.adjust(v.$color_white, $alpha: -0.94);

        .info-card__icon {
            fill: v.$color_white;
        }

        .info-card__title, .info-card__desc {
            color: v.$color_white;
        }
    }

    @media (max-width: v.$media_sm) {
        height: 200px;
    }
}

.img-card {
    position: relative;
    width: 100%;
    height: 288px;
    border-radius: 16px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
    @include m.d-flex(start, center, nowrap, column, 0, 0);
    overflow: hidden;

    &__title {
        width: 100%;
        padding: 16px;
        @include m.font(20px, 500, v.$color_white);
        text-align: center;
    }

    &__preview {
        width: 100%;
        height: 100%;
    }

    &__btn {
        width: 120px;
        height: 96px;
        border-radius: 16px;
        border: none;
        background-color: v.$color_white;
        rotate: z 8deg;
        transition: rotate 1s;
        @include m.position(absolute, 1, -1, bottom, left, -24px, -32px);

        &-icon {
            width: 36px;
            height: 23px;
            fill: v.$color_black;
            rotate: z -8deg;
            translate: 12px -4px;
        }

        &:hover {
            cursor: pointer;
            scale: 1.2;

            .img-card__btn-icon {
                translate: 16px -8px;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 2px 8px 24px 8px rgba(0,0,0,.1);
    }

    @media (max-width: v.$media_xl) {
        width: 342px;
    }

    @media (max-width: v.$media_xl) {
        width: 392px;
    }

    @media (max-width: v.$media_sm) {
        width: 100%;
    }
}

.wave-card {
    width: 500px;
    height: 272px;
    padding: 24px;
    background: url('../assets/wave_card_bg.svg') center/contain no-repeat;
    @include m.d-flex(start, start, nowrap, column, 0, 32px);

    &__avatar {
        width: 40px;
        height: 40px;
    }

    &__quote {
        margin: 0 24px 0 0;
        @include m.font(20px, 400, v.$color_white);
    }

    @media (max-width: v.$media_md) {
        width: 392px;
        height: 213px;
        padding: 16px;
        background: url('../assets/wave_card_bg.svg') 50% 0/contain no-repeat;
        @include m.d-flex(start, start, nowrap, column, 0, 24px);

        &__quote {
            @include m.font(16px, 400, v.$color_white);
        }
    }

    @media (max-width: v.$media_sm) {
        width: 352px;
        height: 192px;
        @include m.d-flex(start, start, nowrap, column, 0, 16px);
    }

    @media (max-width: v.$media_xs) {
        width: 328px;
        height: 178px;
        @include m.d-flex(start, start, nowrap, column, 0, 8px);

        &__quote {
            margin: 0 8px 0 0;
        }
    }
}